body html {
    margin:0px;
    padding:0px;
}

 h2 {
    width:100%;
    margin:0px;
    padding:0px;
}

#fixed {
    position:fixed;
    float:left;
    width:180px;
    height: 100px;
    text-align:center;
    background-color: #eee;
    z-index:2;
    margin:0;
    padding:10px;
}

#loren {
   position:relative;
    /*clear:both;*/
    max-width:70%;
    height:auto;
    
    margin:0px 50px 10px 50px;
    padding:10px;
    z-index:1;
  
}

#relative {
    position: relative;
    clear:both;
    max-width:70%;
    height:150px;
    text-align:center;
    background-color: #eee;
    margin:0px 50px 0px 50px;
    padding:10px;
}

#absolute {
    position:absolute;
   
    width:200px;
    height:100px;
    margin:0px;
    padding:10px;
    background-color: #999;
    left:600px;
    
}

#ipsum {
    max-width:70%;
    height:auto;
    
    margin:0px 50px 10px 50px;
    padding:10px;
    position:relative;
    clear:both;

}